/*************************************** 
GENERAL
***************************************/

a {
	text-decoration: none;
	color: #ccc;
}

a:visited {
    color: darkgrey;
}

h1 {
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	font-size: 25px;
	padding: 15px;
	margin-bottom: 0px;
	margin-top:  0px;
}

h2 {
	color: #4aaaa5;
	text-align: center;
}

hr {
	max-width: 98%;
}

img {
	max-width: 100%;

}

/*************************************** 
NAVIGATION
***************************************/
nav {
	text-align: center;
	padding-right: 10px;
}

nav ul {
	list-style: none;
	padding: 0;
	color: darkgrey;
}

nav li {
	display: inline-block;
}


/*************************************** 
HEADER
***************************************/

header {
	background: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: solid;
	border-color: #cccccc;
	border-width: 1px;
	padding-left: 20px;
}

#top {
	margin-left: -20px; /*** Mobile y***/
}

/****************************************
FOOTER
***************************************/

footer {
	padding-top: 5px;
	background: #666666;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: solid;
	border-color: #4aaaa5;
	border-width: .5em;
}

footer p {
	color: #ccc;
	font-size: .74em;
	text-align: center;
	clear: both;
}


/*************************************** 
PAGE: ABOUT
***************************************/
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1em;
	background-image: url('../images/light-grey-terrazzo.png');
	margin: 0 auto;
	padding-bottom: 50px;
}

body p {
	margin: 5px 10px;
}
	
#content {
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	max-width: 960px;
	margin: 10px;
	overflow: scroll;
}


.profile-photo {
	display: block;
	max-width: 120px;
  	border-radius: 5%;
  	clear: right;
  	margin: 0 auto;
}

/**********************************
PAGE: PORTFOLIO
***********************************/

/* 	Class 2 x 3 build
	img wont adjust sise
	banner and img are off
*/

#gallery {
  	list-style: none;
}

#gallery li a p {
  	margin: 0;
  	padding: 1%;
  	font-size: 0.75em;
}

#gallery li {
  	float: left;
  	margin: 2.5%;
  	position: relative;
  	text-align: center;
}

#gallery p {
	position: absolute;
	bottom: -11px;
	text-align: center;
	width: 98%;
	right: 49.5555px;
	color: white;
	transform: translate(6%, -47%);
	background-color: #4aaaa5;
}

#gallery img {
	display: block;
	width: 100%;
	height: auto;
	margin-left: -25px;
}

/*************************************** 
PAGE: CONTACT
***************************************/
form {
	line-height: 1.3;
	margin-left: 1em;
}

input {
	width: 98%;
}

textarea {
	width: 98%;
	height: 100px;
	resize: none;

}

.button {
	width: 70px;
   	height: 25px;
   	color: white;
	background-color: #4aaaa5;
	text-align: center;
	border-radius: 15%;
}
